<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Poudlard - École de Magie{% endblock %}</title>
        <link rel="icon" href="{{asset('images/favicon.jpg')}}">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body class="text-white">
        {% include "_includes/_navbar.html.twig" %}
        {% block body %}{% endblock %}
    </body>
</html>
